*
{
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
}

table{
    text-align: center;
    margin-top: 10%;
    margin-left: 1%;
    background-color: #7FBCD2;
}

h1{
    color: brown;
    text-align: center;
    padding: 20px 0;
}

nav{

    background-color: blanchedalmond;
}

.nav-item{
    font-size: large;
    padding-left: 10px;
}